@charset "utf-8";

:root {
    --cor0: #003B47;
    --cor1: #16BFE0;
    --cor2: #007C94;
    --cor3: #472100;
    --cor4: #D76300;
    --cor5: white;
    --transparencia-escura: rgba(0, 0, 0, 0.605);
    --transparencia-clara: rgba(255, 255, 255, 0.798);
}

html{
    scroll-behavior: smooth;
}

nav {
    background: black url('../img/gb-nav-2.jpg') center right / cover no-repeat fixed;   
}

nav a {
    color: var(--cor5);
    text-decoration: none;
    
}

nav a:hover {
    color: var(--cor5);
    text-decoration: underline;
    background-color: #007b94a4;
    border-radius: 15px;
    transition: background-color 400ms;
}

header li {
    margin-right: 10px;
}

.card-personalizado {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    position: relative;
}

.bg-personalizado-claro {
    background-color: var(--cor1);
    background-attachment: fixed;
}

.bg-personalizado-escuro {
    background-color: var(--cor0);
    background-attachment: fixed;
}

#ola {
    background-color: var(--transparencia-escura);
    padding: 30px;
    position: absolute;
    top: 15%;
    left: 50%;
    color: var(--cor5);
    min-width: 160px;
    border-radius: 15px 0px 0px 15px;
}

#container-ola {
    background: black url('../img/laptop-circuitos.jpg') center left / cover no-repeat fixed;
}

#sobre-mim {
    background-color: var(--transparencia-clara);
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 0%;
    color: var(--cor0);
    text-align: right;
    border-radius: 0px 15px 15px 0px;
}

#container-sobre-mim {
    background: var(--cor0) url('../img/tela-codigos-laptop.jpg') center right / cover no-repeat fixed;
}


#experiencias {
    background-color: var(--transparencia-clara);
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    color: var(--cor0);
    border-radius: 15px 0px 0px 15px;
}

#container-experiencias {
    background: var(--cor1) url('../img/laptop+cafe.jpg') center center / cover no-repeat fixed;
}

#formacao {
    background-color: var(--transparencia-clara);
    padding: 30px;
    position: absolute;
    top: 15%;
    left: 0%;
    color: var(--cor0);
    border-radius: 0px 15px 15px 0px;
}

#container-formacao {
    background: var(--cor1) url('../img/mesa-desenvolvedor-fluxograma.jpg') center / cover no-repeat fixed;
}

#container-projetos {
    background: var(--cor1) url('../img/binarios.jpg') center / cover no-repeat scroll;
    min-height: 80vh;
}

.div-titulo-projetos{
    background-color: #007b9447;
    border-radius: 15px;
    color: var(--cor1);
}

.link-card:hover{
    text-decoration: none;
}

.card-transparente {
    background-color: var(--cor0);
}

.container-footer{
    background-image: linear-gradient(to right,  var(--cor1), black);
}

.card:hover {
    box-shadow: 0px 0px 14px 6px var(--cor1);
    transition: box-shadow 350ms;
}



footer li {
    display: inline;
    margin: 15px 25px
}


footer a {
    color: var(--cor5);
    text-decoration: none;
    
}

footer a:hover {
    color: var(--cor5);
    text-decoration: underline;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 400ms;
}
